.toggle-buttons {
      display: flex;
      width: 120px;
      height: 36px;
      background: #ffffff;
      border-radius: 20px;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;
      overflow: hidden;
    }

    .toggle-button {
      flex: 1;
      z-index: 1;
      border: none;
      background: none;
      cursor: pointer;
      font-size: 12px;
      color: #555;
      transition: color 0.3s;
      padding: 0;
    }

    .toggle-button.active {
      color: white;
    }

    .toggle-indicator {
      position: absolute;
      top: 3px;
      bottom: 3px;
      width: calc(50% - 6px);
      left: 3px;
      border-radius: 16px;
      background: linear-gradient(135deg, #4b7bec, #3c68e6);
      transition: left 0.3s ease;
      z-index: 0;
    }






    
/* ScaleLine 전체 박스 위치 조정 */
.ol-scale-line {
  left: auto !important;
  right: 10px !important;
  bottom: 10px !important;
  top: auto !important;
}

/* 내부 스타일 (선택): 미관 개선용 */
.ol-scale-line-inner {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 11px;
}

#rename:hover{
    background-color: rgb(233, 233, 233);
}

#rename:active{
    background-color: rgb(212, 212, 212);
}

#delete:hover{
    background-color: rgb(233, 233, 233);
}

#delete:active{
    background-color: rgb(212, 212, 212);
}



#rename2:hover{
    background-color: rgb(233, 233, 233);
}

#rename2:active{
    background-color: rgb(212, 212, 212);
}

#delete2:hover{
    background-color: rgb(233, 233, 233);
}

#delete2:active{
    background-color: rgb(212, 212, 212);
}
